.kyrr-search {
    display: inline-block;
    position: relative;
    width: 51%;
}

.kyrr-search-input {
    float: left;
    border: 1px solid #EFF0F1;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 80px;
    height: 100%;
    width: 100%;
    padding-left: 5px;
}

.kyrr-search-input:focus {
    border-color: #EFF0F1;
    outline: 0;
    -webkit-box-shadow: 1px 1px 1px 0px #c6c6c6;
    box-shadow: 1px 1px 1px 0px #c6c6c6;
}

.kyrr-search-select {
    -webkit-appearance: none;
    position: absolute;
    background-color: #EFF0F1;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 1px solid #EFF0F1;
    border-radius: 4px;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    padding-left: 30px;
}

.kyrr-search-select:focus {
    border-color: #EFF0F1;
    outline: 0;
    -webkit-box-shadow: 1px 1px 1px 0px #c6c6c6;
    box-shadow: 1px 1px 1px 0px #c6c6c6;
}

.kyrr-search-suggestion {
    /*display:none;*/
    position: absolute;
    top:50%;
    background-color: #000
}

.rowIsShown {

}


.triangle-wrapper {
    position: relative;
    right: 20%; 
    top: 30%;
}

.triangle-right {
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 10px;
    border-color: transparent transparent transparent #bababa;
}

.triangle-down {
    position: absolute;
    left: 79%;  
    top: 35%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #bababa transparent transparent transparent;
}






